%base-font {
  font-family: $base-font;
  font-weight: $font-weight-regular;
}

%heading-font {
  font-family: $heading-font;
  font-weight: $font-weight-regular;
  line-height: 1.2;
}

%list-style-none {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

@mixin link-color {
  color: $link-color;
  &:hover {
    color: $link-color-hover;
  }
}

@mixin light-link-color {
  color: $light-link-color;
  &:hover {
    color: $light-link-hover;
  }
}
  
@mixin dark-link-color {
  color: $dark-link-color;
  &:hover {
      color: $dark-link-hover;
  }
}

@mixin navigation-link-color {
    color: $text-dark-grey;
    &:hover {
        color: $text-secondary;
    }
  }
  
@mixin h1-font-sizes() {
  font-size: $h1-mobile-font-size;
  @include breakpoint($breakpoint-tablet) {
    font-size: $h1-font-size;
  }
}
  
@mixin h2-font-sizes() {
  font-size: $h2-mobile-font-size;
  @include breakpoint($breakpoint-tablet) {
    font-size: $h2-font-size;
  }
}
  
@mixin h3-font-sizes() {
  font-size: $h3-mobile-font-size;
  @include breakpoint(s$breakpoint-tablet) {
    font-size: $h3-font-size;
  }
}