@import '~scss/base/_base.scss';
@import '~scss/helpers/_helpers.scss';

.input {
    padding: rem(10px) 0 rem(10px) rem(10px);
    width: rem(50px);
    border-radius: 0;
    border-radius: 0;
    border-style: solid;
    border-width: rem(0.5px);
}