@import '~scss/base/_base.scss';
@import '~scss/helpers/_helpers.scss';

.review {

    $self: &;

    &--promo {
        display: flex;
        flex-direction: column;
        align-items: center;

        #{ $self }__rating {
            margin-bottom: rem(10px);
        } 

        #{ $self }__comment {
            font-style: italic;
        } 

    }
}