@import '~scss/base/_base.scss';
@import '~scss/helpers/_helpers.scss';

.promo-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    &__title {
        @extend %heading-font;
        @include h1-font-sizes();
        margin-bottom: rem(25px); // should I be using line-height here? or some h1 default style? 
    }

}