/*
    Font Sizes
*/
$base-font-size: 16px;

$h1-font-size: 60px;
$h2-font-size: 35px;
$h3-font-size: 24px;
$h4-font-size: 20px;
$h5-font-size: 18px;
$h6-font-size: 15px;

$h1-mobile-font-size: 35px;
$h2-mobile-font-size: 24px;
$h3-mobile-font-size: 22px;

$font-size-small: 12px;
$font-size-large: 60px;

/*
    Font Families
*/
$base-font: Verdana, Geneva, sans-serif;
$heading-font: 'Lato', sans-serif;
$styled-font: 'Lato', sans-serif;
// $primary-font: '';
// $secondary-font: '';


/*
    Font Weights
*/
$font-weight-regular: 400;
$font-weight-bold: 700;