@import '~scss/base/_base.scss';
@import '~scss/helpers/_helpers.scss';

.content {
    &__paragraph {
        font-family: $styled-font;
        margin-bottom: rem(20px);
    }
}

.promo-card {
    text-align: center;
    @include breakpoint($breakpoint-handset-landscape) {
        text-align: right;
    }
}