@import '~scss/base/_base.scss';
@import '~scss/helpers/_helpers.scss';

%description-list-bg {

    &:nth-of-type(even) {
        background-color: rgba($background-subtle-white, 0.5);
    }
}

.description-list {
    display: flex;
    flex-wrap: wrap;
    font-size: $font-size-small;
    

    &__title {
        width: 100%;
        font-weight: $font-weight-bold;
        padding: rem(7.5px) 0 0 rem(5px);
        @include breakpoint($breakpoint-handset-landscape) {
            width: 20%;
            border-bottom: 1px solid $border-subtle-white;
            padding: rem(7.5px) 0 rem(7.5px) rem(5px);
            
        }

        &:first-of-type {
            border-top: 1px solid $border-subtle-white;
        }

        @extend %description-list-bg;
    }

    &__description {
        margin: 0;
        width: 100%;
        padding: 0 0 rem(7.5px) rem(5px);
        border-bottom: 1px solid $border-subtle-white;
        @include breakpoint($breakpoint-handset-landscape) {
            width: 80%;
            padding: rem(7.5px) 0 rem(7.5px) rem(5px);

            &:first-of-type {
                border-top: 1px solid $border-subtle-white;
            }
        }

        @extend %description-list-bg;
        
    }

}