@import '~scss/base/_base.scss';
@import '~scss/helpers/_helpers.scss';

.navigation {
    display: flex;

    &__menu-items {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__menu-item {
        margin-right: rem(25px);
    }

    &__menu-item-link {
        @include navigation-link-color();
        font-size: $font-size-small;
        font-family: $styled-font;
    }

}