@import '~scss/base/_base.scss';
@import '~scss/helpers/_helpers.scss';

.page-section {

    &:last-of-type {
        margin: 0 auto;
    }

    &--padding {
        padding: rem(25px) 0;
    }

    &--padding-top{
        padding-top: rem(25px);
    }

    &--padding-bottom {
        padding-bottom: rem(25px)
    }

    &--padding-small {
        padding: rem(10px) 0;
    }

    &--padding-top-small {
        padding-top: rem(10px);
    }

    &--padding-bottom-small {
        padding-bottom: rem(10px)
    }

    &--padding-large {
        padding: rem(50px) 0;
    }

    &--padding-top-large {
        padding-top: rem(50px);
    }

    &--padding-bottom-large {
        padding-bottom: rem(50px)
    }

    &--margin {
        margin: rem(25px) auto;
    }

    &--margin-top {
        margin-top: rem(25px);
    }

    &--margin-bottom {
        margin-bottom: rem(25px);
    }

    &--margin-large {
        margin: rem(50px) auto;
    }

    &--margin-top-large {
        margin-top: rem(50px);
    }

    &--margin-bottom-large {
        margin-bottom: rem(50px);
    }

}