// TODO replace with grid system component

.grid {
    display: flex;
    &--3 {
        
        // use $this
        .grid-item {
            margin-right: 15px;
            width: calc(33.3% - 10px);
            &:nth-child(3) {
                margin-right: 0;
            }
        }
    }
}