@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    @extend %base-font;
    font-size: rem($base-font-size);
    color: $text-base-color;
    line-height: 1.5em;
}

h1 {
    @extend %heading-font;
    @include h1-font-sizes();
  }
  
  h2 {
    @extend %heading-font;
    @include h2-font-sizes();
  }
  
  h3 {
    @extend %heading-font;
    @include h3-font-sizes();
  }
  
  h4 {
    font-size: $h4-font-size;
  }
  
  h5 {
    font-size: $h5-font-size;
  }
  
  h6 {
    font-size: $h6-font-size;
  }
  
  h4, h5, h6 {
    font-family: $heading-font;
    margin: 0px 0px 20px 0px;
    line-height: 1.2;
  }
  
  p {
    margin: 0 0 rem(5px);
  }
  
  a {
    @extend %default-animation;
    @include link-color();
    text-decoration: none;
    
  }