@import '~scss/base/_base.scss';
@import '~scss/helpers/_helpers.scss';

.site-footer {
    background-color:$background-light-grey;
    padding: rem(50px) rem(15px) rem(15px);

    &__section {
        @extend %container;
        display: flex;
        padding: rem(20px) 0;
        flex-direction: column;
        @include breakpoint($breakpoint-tablet) {
            flex-direction: row;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        
        // padding: 0 rem(10px); // maybe I should be using a grid here?
        width: 100%;
        @include breakpoint($breakpoint-tablet) {
            width: 50%;
            align-items: flex-start;
        }
        
    }

    &__about {
        display: flex;
        width: 80%;
    }

    &__about-us {
        font-size: $font-size-small;
        padding-left: rem(15px);
    }

    &__title {
        @include h3-font-sizes();
        line-height:2em
    }

    &__copyright {
        font-size: $font-size-small;
        color: $text-light-grey;
    }

}

