@import '~scss/base/_base.scss';
@import '~scss/helpers/_helpers.scss';

.review {

    $self: &;

    padding: rem(15px);
    margin: rem(20px) 0;

    &--box {
        border: solid 1px $border-subtle-white;

        #{ $self }__user {
            padding-right: rem(5px);
        } 

        #{ $self }__date {

            &:before {
                content: '- ';
            }
            &:after {
                content: ':';
            }
        }

        #{ $self }__rating {
            flex-grow: 1;
            text-align: right;
        }

    }

    &__heading {
        display: flex;
        font-size: $h6-font-size;
        font-family: $styled-font;
        margin-bottom: rem(10px);
    }

    &__user {
        font-weight: $font-weight-bold;
    }

    &__comment {
        font-size: $h6-font-size;
    }

    
}