@import '~scss/base/_base.scss';
@import '~scss/helpers/_helpers.scss';

.image-gallery {

    &__thumbnails-wrapper {
        display: flex;
        width: 100%;
    }

    &__thumbnail {
        width: 100%;
        margin: rem(5px);
        cursor: pointer;
    }

    &__thumbnail-image {

    }

    &__primary-image {
        cursor: pointer;
        margin-bottom: rem(25px);
    }

    &__gallery-image {

        &--primary {
            width: 100%;
            cursor: pointer;
        }

    }

}